#homepage {
  background: url("../img/loginbg.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}

#registration, #loginform {
  width: 500px;
  margin: 0 auto;
}
