body {
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment: fixed;
  margin-bottom: 100px;
}

#homepage {
  background-image: url("../img/homebg.jpg");
}

#loginpage {
  background-image: url("../img/loginbg.jpg");
}

#testpage {
  background-image: url("../img/testbg.jpg");
}

#subpage {
  background-image: url("../img/submissionbg.jpg");
}

#forumpage {
  background-image: url("../img/forumbg.jpg");
}

#updatepage {
  background-image: url("../img/updatebg.jpg");
}

#userpage {
  background-image: url("../img/detailsbg.jpg");
}

#profile {
  background-image: url("../img/profilebg.jpg");
}

#topic {
  background-image: url("../img/topicbg.jpg");
}

#registration, #loginform, #questions, #userinfo {
  width: 500px;
  margin: 0 auto;
}

.ask {
  margin-left: 42%;
  margin-top: 45%;
}

/* This only works when on an element with a fixed height. */
.vertical-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.login-form-container {
  height: 350px;
  padding: 50px 0 50px 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 600px;
  text-align: center;
}

.reg-form-container {
  height: 450px;
  padding: 50px 0 50px 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 600px;
  text-align: center;
}

.user-form-container {
  margin-top: 100px;
  width: 600px;
  text-align: center;
}

.user-form-container h1 {
  color: #FFF;
}

.user-form-container label {
  color: #FFF;
  text-align: left;
}

.login-form-container label, .reg-form-container label {
  color: #000000;
  text-align: left;
}

.forum {
  margin: 0 auto;
  width: 700px;
}

.form a {
  color: #E87581;
}

table, .center {
  margin: 0 auto;
}

.topic {
  margin: 0 auto;
  width: 500px;
}

.breadcrumb {
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0 48px;
  color: #FFF;
  margin-left: 100px;
  margin-top: 45px;
}

.topic-wrapper {
  width: 100%;
}

.topic-category {
  color: #FFF;
  width: 200px;
  margin-left: 100px;
  float: left;
}

.underline {
  text-decoration: underline;
}

.response {
  margin: 0 auto;
  margin-top: 90px;
  color: #000;
  font-size: 20px;
  text-align: center;
  width: 400px;
  position: relative;
  z-index: 5;
}

.user-response {
  margin: 0 auto;
  margin-top: 30px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  width: 400px;
  position: relative;
}

.profile-info h1, h2, h3, h4, h5, h6 {
  color: #FFF;
}

.profile-info {
  margin: 0 auto;
  margin-top: 0px;
  width: 700px;
  border: solid white 2px;
  border-radius: 5px;
  padding: 10px;
  color: #FFF;
  text-shadow: 1px 1px #000;
}

.profilespec {
  font-size: 20px;
  text-decoration: underline;
}

#topic-buttons {
  float: right;
  margin: 0;
  margin-top: 10px;
}

#button-wrapper {
  overflow: auto;
}

#button-wrapper h1 {
  float: left;
}

.forum-container {
  width: 100%;
  margin-top: 100px;
}

.categories p {
  background: #E87581;
  font-size: 1.5em;
}

.categories {
  width: 130px;
  text-align: center;
  float: left;
  display: block;
  margin-left: 10%;
  background: white;
}

.category-list  {
  list-style: none;
  margin-left: 0;
}

.category-list li {
  border-bottom: 1px solid grey;
}

.category-list a, .category-list a:visited {
  color: #000;
}

.category-list a:hover {
  color: #E87581;
}
